*{
    box-sizing: border-box;
}

html, body{
    height: 100%
}

body{
    margin: 0
    /* padding: 0; */
}

.login {
    position: absolute;
    width: 500px;
    top: 50%;
    left: 50%;
    /* css3新属性 居中 */
    transform: translate(-50%, -50%);
    padding: 60px 90px;
    border: 1px solid #0c0c0c;
    border-radius: 8%;
    background-color: #f5f5f5;
    
    /* 过度延迟动画 */
    transition: all 0.5s ease;
}

.login-title{
    text-align: center;
    font-size: 26px;
    margin-top: 8px;
}

.login-item{
    margin-bottom: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.login-label{
    display: inline-block;
    width: 90px;
    padding: 0 5px 0 0;
    
    /* vertical-align: center; */
    /* padding:10px; */
    /* flex-shrink: 0; */
}

.login-input{
    display: inline-block;
    /* width: 222px; */
    border: 1px solid #ccc;
    border-radius: 4px;
    padding:10px;
    flex-grow: 1;
}

.login-input:focus{
    /* border: 1px solid #1a9a5f; */
    /* input特性outline */
    outline: none;
    border-color: #1a9a5f;
}


.form-btn{
    width: 100%;
    background-color: #1a9a5f;
    border: none;
    color: #fff;
    padding: 8px 0;
    margin-top: 10px;
    border-radius: 4px;
}
.box{
    /* width: 100px;
    height: 100px; */
    width: 100px;
    height: 100px;
    background-color: rgb(115, 121, 119);
    text-align: center;
    color:#fff;
    line-height: 100px;
    text-align: center;
    font-size: 20px;
    font-weight: 800px;
     /* 过度延迟动画 */
    transition: all 0.5s cubic-bezier(0.4, 0, 0.2, 1);
    
}

.box:hover{
    border:2px solid #000;
    background-color: burlywood;
    transform: rotate(360deg); 
}

.wrap {
    display: flex;
    height: 100%;
    width: 80%;
    top: -100%;
    position: relative;
    margin:0 auto
   
    /* top: 0 */
}

.chatRoom {
    transition: all 0.5s ease;
    /* visibility: hidden; */
}

.left {
    background-color: #e6e5e5;
    width: 250px;
    color: #000;
    flex-shrink: 0;
}

.li {
    border-bottom: 0.5px solid rgba(0,0,0,.2);
    text-align: center;
    padding: 15px;
}

.selected{
    background-color: #c5c4c4;
}

.left_userInfo{
    display: flex;
    border-bottom: 0.5px solid rgba(0,0,0,.2);
    background-color: #c5c4c4;
    padding: 5px
}

.left-userName {
    font-size: 22px;
    padding: 10px 30px;
}

.user-avatar{
    display: inline-block;
    width: 50px;
    height: 50px;
    border: 0.5px solid #c5c4c4;
    border-radius: 100%;
    margin: 2px 0 2px 15px
}

.right {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    background-color: #f5f5f5;
}

.rightHead {
    text-align: center;
    border-bottom: 1px solid rgba(0,0,0,.2);
    padding: 15px 0 20px;
    font-weight: 800;
    /* margin: 10px; */
    font-size: larger;
}

.center-logo-wrap{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
}

.logo{
    width: 300px;
    /* height: 100px; */
    /* display: block; */
}

.slogan{
   
    text-align: center;
    font-weight: 800;
    font-size: 900;
    font-style: italic;
}

.input-wrap {
    display: flex;
    padding: 20px 15px 20px 15px;
    border-top: 1px solid  rgba(0,0,0,.2);
    /* visibility: hidden; */
}

.input {
    flex: 1;
    margin: 0 10px;
    padding: 10px;
}

.input-wrap button {
    border: none;
    background-color: #cecece;
    border-radius: 4px;
    padding: 10px 15px;
    font-size: 15px;
}

.msg-wrap {
    overflow: scroll;
    overflow-x: hidden;
    padding: 10px;
    flex: 1;
    /* visibility: hidden; */
}

.msg {
    flex: 1;
    display: flex;
    align-items: center;

}

.msg-me {
    flex-direction: row-reverse;
}

.msg-me .msg-txt{
    background-color: #26c47a;
    color: #fff;
    
    
}

.avatar {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin: 0 5px;
}

.msg-txt {
    display: inline-block;
    background-color: #fff;
    padding: 5px;
    border-radius: 5px;
    margin: 10px 0;
    max-width: 50%;
    word-wrap: break-word;
}



